.all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #0a2647;
}

/* alert div style */
/* start */
.main {
  width: 220px;
  position: relative;
  margin: auto;
  font-size: 18px;
  color: white;
  background-color: #12c95be8;
  border-radius: 3px 3px 0px 0px;
}
.alert-div {
  height: 45px;
  text-align: center;
  line-height: 40px;
}

.bellow {
  height: 4px;
  position: absolute;
  bottom: 0px;
  animation: example;
  background-color: #3a07f2;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes example {
  0% {
    width: 220px;
  }
  100% {
    width: 0px;
  }
}
span svg{
  margin-top: 12px;
  position: absolute;
  left: 20px;
}

/* end */

